*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding-bottom: 30px;
    color: #264994;
}

body{

    font-family: "Noto Sans JP", sans-serif;
    
}

html,body {
    display: grid;
    height: 30%;
    place-items: center;
    text-align: center;
}

.container {
    height: 350px;
    width: 430px;
}
.container .wrapper{
    position: relative;
    height: 430px;
    width: 100%;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.wrapper .icon {
    font-size: 100px;
    color: #264994;
}
.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #264994;
}

.wrapper #cancel-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #264994;
    display: none;
}

.wrapper.active:hover #cancel-btn {
    display: block;
}

.wrapper.active #cancel-btn:hover{
    color: #c2cdda;
}


.wrapper .file-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    padding: 8px 0;
    font-size: 12px;
    background: linear-gradient(80deg, #496c94 0%, #4596f1 100%);
    visibility: hidden;

}

.wrapper.active:hover .file-name {
    visibility: visible;
}
.container #custom-btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(80deg, #496c94 0%, #4596f1 100%);
    transition: all 0.3s ease;
}

.container #custom-btn:hover{
    background: #8eadd1;
    color:#2a77cf
}

.container #start-btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(80deg, #2d4663 0%, #195191 100%);
    visibility: hidden;
}

.container #start-btn:hover{
    background: #8eadd1;
    color:#2b69b1
}

.container #start-btn.active{
    visibility: visible;
}
